<!--
<div class="container" style="margin-bottom: 4%;">
  <div style="margin-top: 20%; margin-left: auto; margin-right: auto;">
    <img src="/assets/img/signin-img.jpg" alt="Erreur d'affichage" height="290" width="auto" style="margin-bottom: 1.5cm;">
  </div>
</div>
-->

<div >

    <div class="wrap">
      <div class="search" style="text-align: center;">
        <input type="text" class="searchTerm" placeholder="Entrez le titre du chant" [(ngModel)]="searchString">
        <button type="submit" class="searchButton" (click)="search()">
            <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>

    <div class="wrap2" *ngIf="nbSong > 0">
      <p style="text-align: center; color: beige;">{{nbSong}} chant(s) trouvé(s)</p>
      <hr>
      <div *ngFor="let song of songFond; let i = index">
        <div style="margin-top: 0.5cm;text-align: center;">
            <button type="button" style="width: 75%;background-color:transparent;height: 1cm;"
                    (click)="onViewSong(song.title)">
                <h2 style="color: beige;"><span>{{song.title}}</span></h2>
            </button>
        </div>
      </div>
    </div>

    <div *ngIf="!isFound">
      <p style="text-align: center; color: beige;">Aucun élément trouvé !</p>
    </div>

</div>



