body{
    background: rgb(54, 54, 54);//#f2f2f2;   // rgb(54, 54, 54);
    font-family: 'Open Sans', sans-serif;
};

button{
    background: transparent;
    border: none !important;
    color: rgb(73, 164, 224);
}