<div class="container" style="margin-top: 3%;">
    <h1 style="color: beige;text-align: center;">Programme des chants</h1><hr>  
    <div class="col-md-4 col-sm-4 col-xs-4 col-lg-3" style="border: 2px solid blanchedalmond;margin-left: -10px; margin-right: 0%;padding-bottom: 0.5cm;
                                                            background-color: rgb(224, 255, 245);">
        <h1 style="color: rgb(73, 164, 224);">Menu</h1>
        <button type="button" (click)="getType('Entree')">
            <span class="glyphicon glyphicon-chevron-right">Entrée</span>
        </button><br>
        <button type="button" (click)="getType('Kyrie')">
            <span class="glyphicon glyphicon-chevron-right">Kyrie</span>
        </button><br>
        <button type="button" (click)="getType('Gloria')">
            <span class="glyphicon glyphicon-chevron-right">Gloria</span>
        </button><br>
        <button type="button" (click)="getType('Meditation')">
            <span class="glyphicon glyphicon-chevron-right">Médit.</span>
        </button><br>
        <button type="button" (click)="getType('Acclamation')">
            <span class="glyphicon glyphicon-chevron-right">Accl.</span>
        </button><br>
        <button type="button" (click)="getType('Pu')">
            <span class="glyphicon glyphicon-chevron-right">Pu</span>
        </button><br>
        <button type="button" (click)="getType('Offertoire')">
            <span class="glyphicon glyphicon-chevron-right">Offert.</span>
        </button><br>
        <button type="button" (click)="getType('Sanctus')">
            <span class="glyphicon glyphicon-chevron-right">Sanctus</span>
        </button><br>
        <button type="button" (click)="getType('Anamnese')">
            <span class="glyphicon glyphicon-chevron-right">Anamn.</span>
        </button><br>
        <button type="button" (click)="getType('Pater')">
            <span class="glyphicon glyphicon-chevron-right">Pater</span>
        </button><br>
        <button type="button" (click)="getType('Communion')">
            <span class="glyphicon glyphicon-chevron-right">Comm.</span>
        </button><br>
        <button type="button" (click)="getType('AG')">
            <span class="glyphicon glyphicon-chevron-right">A.G</span>
        </button><br>
        <button type="button" (click)="getType('Sortie')">
            <span class="glyphicon glyphicon-chevron-right">Sortie</span>
        </button><br>
        <button type="button" (click)="getType('Autres')">
            <span class="glyphicon glyphicon-chevron-right">Autres</span>
        </button>
    </div>
    <div>
        <h1 class="col-md-8 col-sm-8 col-xs-8 col-lg-9" style="color: rgb(73, 164, 224);">Liste</h1>
        <div *ngFor="let song of listSongByType; let i =index">
            <button type="button" (click)="onViewSong(song.title)">
                <p style="color: beige;"><span style="margin-left: 5px;">{{song.title.substring(0,23)}}</span></p>
            </button>
        </div>
    </div>
</div>
