body{
    background: rgb(54, 54, 54);//#f2f2f2;   // rgb(54, 54, 54);
    font-family: 'Open Sans', sans-serif;
}

.coin {
    background-color:#E4EFFF;
    border:1px solid #9FC6FF;
    padding:5px;
    /*arrondir les coins en haut à gauche et en bas à droite*/
    -moz-border-radius:20px 0;
    -webkit-border-radius:20px 0;
    border-radius:20px 0;
}

.arrondie2 {
    border:2px solid black;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}